<div class="row">
    <div class="col-sm-12">
        <h3>جستجو نظرات</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form action="/dashboard/comments/search" method="get">
            <div class="form-group">
                <label for="name"> نام</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">پست الکترونیکی</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="post">مطلب</label>
                <input type="text" id="post" name="post" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">جستجو</button>
                <button class="btn btn-default" type="reset">لغو</button>
            </div>
        </form>
    </div>
</div>

{{#if comments}}

    <div class="row">
        <div class="col-sm-12">
            <table class="table-responsive table table-bordered">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>مطلب</th>
                    <th>مشاهده</th>
                    <th class="col-sm-1"><span class="fa fa-gear"></span></th>
                </tr>
                </thead>
                <tbody>
                {{#each comments}}
                    <tr>
                        <td>{{index @index}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td><a target="_blank" href="/post/{{this.post_id.slug}}">{{this.post_id.title}}</a></td>
                        <td><a target="_blank" href="/post/{{this.post_id.slug}}#{{this._id}}"><span class="fa fa-eye"></span>&nbsp;لینک نظر</a></td>
                        <td>
                            <a href="/dashboard/comments/{{this._id}}/edit" class="text-warning"><span class="fa fa-edit"></span></a>
                            &nbsp;
                            <a href="/dashboard/comments/{{this._id}}/delete" class="text-danger" onclick="return confirm('آیا حذف شود؟')"><span class="fa fa-trash-o"></span></a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/if}}