<div class="row">
    <div class="col-sm-12">
        <p>
            <a href="/dashboard/new-post" class="btn btn-default">مطلب جدید</a>
            <a href="/dashboard/search-post" class="btn btn-default">جستجو</a>
        </p>
    </div>
</div>
{{#if posts}}

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>عنوان</th>
                    <th>نویسنده</th>
                    <th>وضعیت</th>
                    <th class="col-sm-1"><span class="fa fa-gear"></span></th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}}
                    <tr>
                        <td>
                            {{index @index}}
                        </td>
                        <td>{{this.title}}</td>
                        <td>
                            {{this.user_id.name}}
                        </td>
                        <td>{{this.status}}</td>
                        <td>
                            <a href="/dashboard/post-delete/{{this.id}}" class="text-danger" onclick="return confirm('آیا حذف شود؟')"><span class="fa fa-trash"></span></a>
                            <a href="/dashboard/post-edit/{{this.id}}" class="text-warning"><span class="fa fa-edit"></span></a>
                            <a href="/post/{{this.slug}}" class="text-info"><span class="fa fa-eye"></span></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>

</script>

{{else}}
    <div class="row">
        <div class="col-sm-12 alert alert-warning">
            مطلبی وجود ندارد.
        </div>
    </div>
{{/if}}

