<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>{{title}}</h3>
        <hr>
    </div>
</div>

{{#if message}}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <ul>
                    {{#each message}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
{{/if}}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="/dashboard/users/insert" method="post">
            <div class="form-group">
                <label for="name">نام</label>
                <input type="text" class="form-control" name="name" id="name" value="{{old.name}}">
            </div>
            <div class="form-group">
                <label for="username">نام کاربری</label>
                <input type="text" class="form-control" name="username" id="username" value="{{old.username}}">
            </div>
            <div class="form-group">
                <label for="email">پست الکترونیکی</label>
                <input type="text" class="form-control text-direction-ltr" name="email" id="email" value="{{old.email}}">
            </div>
            <div class="form-group">
                <label for="status">وضعیت</label>
                <select name="status" id="status" class="form-control form-control-select">
                    <option {{#if old}}{{selected old.status 10}}{{/if}}  value="10">مدیرکل</option>
                    <option {{#if old}}{{selected old.status 9}}{{/if}} value="9">مدیر</option>
                    <option {{#if old}}{{selected old.status 1}}{{/if}} value="1">نویسنده</option>
                    <option {{#if old}}{{selected old.status 0}}{{/if}} value="0">غیر فعال</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">رمز عبور</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">ذخیره</button>
                <button type="reset" class="btn btn-default">لغو</button>
            </div>
        </form>
    </div>
</div>