{{#if posts}}
    {{#each posts}}
        <div class="row">
            <div class="col-xs-12 posts">
                <div class="thumbnail">
                    <img src="/images/uploads/{{this.image}}" alt="{{this.title}}">
                    <div class="caption">
                        <a href="/post/{{this.slug}}"><h3>{{this.title}}</h3></a>
                        <p>{{{this.body}}}</p>
                        <p><a href="/post/{{this.slug}}" class="btn btn-default">ادامه مطلب</a></p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}