{{#if hasError }}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <ul >
                    {{#each message}}
                        <li><p>{{this}}</p></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
{{/if}}
<form action="/dashboard/post-edit/{{post._id}}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="title">عنوان</label>
                <input type="text" id="title" name="title" class="form-control" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="slug">مسیر</label>
                <input type="text" id="slug" name="slug" class="form-control" value="{{post.slug}}">
            </div>
            <div class="form-group">
                <label for="body">متن</label>
                <textarea name="body" id="body" cols="50" rows="10">{{post.body}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="image">تصویر</label>
                    <input type="file" id="image" name="image" value="{{post.image}}"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">انتشار</button>
                    <a href="/dashboard/index" class="btn btn-default">لغو</a>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="img-thumbnail" src="/images/uploads/{{post.image}}" alt="{{post.title}}">
            </div>
        </div>
    </div>
</form>

<script src="/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'body' );
</script>